* {
    font-family: Arial, sans-serif;
    background-color: rgb(169, 223, 236);
}

h1 {
    color: purple;

}

h2 {
    color: rgb(115, 95, 226);
}

a {
    color: rgb(207, 101, 101);
}

.image {
    height: auto;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.link {
    font-size: large;
}
